
<h1>Person not Found</h1>
<main>
    <p class="not-found">We're sorry, but no results were found for {{searchPersonNameOrId}}.</p>

    <a class= "another-search" href="http://localhost:3000/">Make another search</a>
</main>